:root{
    --background-color:white;
    --h1-color : 
    }

body{width: 100%;
z-index: 2;}

main{
    margin-top: 8em;
    background-color: var(--background-color);
} 
main>section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main section article{
    display: flex;
    margin: 1em;
    flex-basis: 40%;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
}
main section img{
    width: 40%;
}

h2{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

h4{
    margin-top: 1em;
    flex-basis: 90%;

}

q,h4{
    margin-left: 3em;

}
q{
    flex-basis: 80%;
    font-size: 0.9em;
}
nav li:first-child{
    background-color: rgba(173, 162, 172, 0.383);
    padding: 0px 5px;
    border-radius: 5px;
}
.main_img{
    margin-right: 3em;
}
@media screen and (max-width : 1450px){
    .main_img {
    width: 50%;
    }
}
@media screen and (max-width: 1450px) {
    .iut{
        flex-basis: 100%;

    }

    

}

.dark-theme{
    background-color: rgb(47, 47, 47);
    color: rgb(153, 153, 153);
    --background-color: rgb(47, 47, 47);
}