:root{
    --h1-color : rgb(0, 0, 0);
    --purple : purple;
}

footer{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer h6{
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 1em;
}


.Contact{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-around;
    text-align: left;
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
    margin-top: 5rem;
}
.Contact ul li{
    list-style: disc;
}
.Contact .button{
    background-color: var(--purple);
    width: max-content;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 5em;
    cursor: pointer;

}
.button:hover{
    color: white;
    background-color: rgb(78, 4, 78);
}

.image{
    display: flex;
    list-style-type: none;
    flex-basis: 100%;   
}

footer li{
    width: max-content;
}
footer section section{
    flex-basis: 100%;
    flex-wrap: nowrap;
}
footer img {
    width: 3em;
}

footer section{
    display: grid;
    flex-basis: 30%;
    align-items: center;
}

#Creat{
    margin: 2em 0px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;

}
footer p{ 
    color: rgb(110, 110, 110);
    display: flex;
    justify-content: center;
}

#number{
    flex-basis: max-content;
}

#contact{
    width: 1.5em;
    height: max-content;
}

.middle{
    flex-grow: 1;
}
footer a{
    color: purple;
}
h1,h2,h4{
    color: var(--h1-color);
}

.dark-theme{
    --h1-color : rgb(139, 139, 139);
    --purple : rgb(255, 0, 255);
}
