:root{
    --header-color: #800080;
    --ul-color : #ebb8eb;
    --border-ul-color : #c58dc5;
    --nav-a-color : #000000;
    --nav-a-hover-color : rgb(131, 131, 131);
}

header{
    position: absolute;
    width: 100%;
    display: flex;
    padding: 1em;
    align-items: center;
    z-index: 10000;
    background-color: var(--header-color);
    position: fixed;
    top: 0%;
}

.header_logo{
    width: 6rem;
}
nav{
    display: flex;
    flex-basis: 100%;
    margin: 0 1em 0 0 ;
    align-items: center;
    justify-content: flex-end;
    align-items: center;

}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 10em;
    z-index: 10000;
}


nav ul> li:hover .sous{
    display: block;


}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
    width: 100%;

}
.sous a:hover{
    border-bottom: none;
    background-color: rgba(200, 200, 200,0.1);
}

header ul {
    display: flex;
    flex-basis: 30%;
    margin-right: 3em;
    justify-content: space-around;
    
}
.ul_menu li{
    list-style-type: none;
    
}

.iut_photo{
    width: 40%;
    margin: 5px;
}

nav>ul{
    border: solid 1px var(--border-ul-color);
    background-color: var(--ul-color);
    padding: 0px;
    border-radius: 1em;
}
ul li {
    margin: 5px;
 
}
a{
    outline: none;
    text-decoration: none;
    color: var(--nav-a-color);
    
}
a:hover{
    color: var(--nav-a-hover-color) ;
}
ul li ul li a {
    color: black;
}
ul li ul li a:hover{
    color: rgb(95, 95, 95);
}

header div{
    margin-right: 1em
}

.dark-theme{
    --title-color: #F1F3F2;
    --text-color: #C7D1CC;
    --body-color: #0000003a;
    --container-color: #000000;
    --border-ul-color : white;
    --ul-color:grey;
    --nav-color: rgb(148, 147, 147);
    --nav-a-color : rgb(255, 255, 255);
    --header-color: rgb(155, 155, 155);
    --nav-a-hover-color : rgb(0, 0, 0);
}
#moon{
    width: 20px;
    margin-right: 2em;   
}