
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root{
    --biggest-font-size: 4rem;
    --h1-color:black;
    --h1-font_size: 2.25rem;
    --h2-font-size: 3.5rem;
    --h3-font-size: 2.25rem;
    --normal-font-size: 1.3rem;
    --small-font-size: 2.875rem;
    --smaller-font-size: 2.813rem;
    --first-color : purple;
}

* {
   
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}
main,footer{
    margin-left: 2em;
}
h2{
    font-size: var(--h2-font-size);
    color: var(--first-color);
}
h1,h2,h3,h4{
    color: var(--first-color);
}
h3{
    font-size: 1.5em;
}
.Contact span{
    color: var(--first-color);
}
p{
    font-size: 1.2rem;
}

footer p {
    font-size: 1.1rem;
    margin: 5px 0px;

}

footer{
    flex-wrap: wrap;
    padding-top: 8rem;
    padding-bottom: 1em;
}

.dark-theme{
    --first-color : rgb(255, 0, 255);
}