/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/

html{
  scroll-behavior: smooth;
}

main{
  flex-basis: 100%
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

main img{
  max-width: 100%;
  height: auto;
}
.listes_contact{
  list-style: square;
}

.img_iut{
  width: 20em;
  margin-left: 7em;
}
#livre {
   height: 50em;}
.img_univ{
  width: 20em;
  margin-right: 7em;

}
#title1{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.but{
  margin-left: -80em;
  margin-top: 50em;
  height: 13.1em;
  width: 20em;
}
.brain{
  width: 10%;
  height: 10%;
  flex-grow: 1;
  max-width: 10%;
  margin-right: 3em;
}
#about{
  margin-bottom: 10em;
  display: flex;
  justify-content: center;
}
#source{
  display: flex;
}
.home__container {
  margin-top: 10em;
  display: flex;
}
.section-title{
  margin-bottom: 1em;
}
.section-subtitle{
  margin-bottom: 1em;
}
/*========== LAYOUT ==========*/
.bd-container{
  width: calc(100% - 2rem);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}


/* Active menu */
.active-link{
  color: var(--first-color);
}

/*========== HOME ==========*/

.home__title{
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img{
  width: 300px;
  justify-self: center;
}
.home__container{
  margin-bottom: 8em;
}
/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}

/*========== ABOUT ==========*/
.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-3);
}

.about__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__container{
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content{
  text-align: center;
  margin-top: 1em;
}

#miage{
  height : 12.18em;
  width: 15em;
  margin-bottom: 2em;
  margin-left: -1em;
}

#ingenieur{
  height: 13.5em;
  width : 12em;
  margin-bottom: 2em;
}

.commerce{
  height: 11.5em;
  width: 18em;
  margin-right : 2.5em
}

#iae{
  height: 13.5em;
  width: 18em;
  margin-right : 2.5em
}

#master{
  height: 13.5em;
  width: 12em;
  margin-right : 2.5em
}

.active{
  height: 11.5em;
  width: 20em;
  margin-right : 2.5em
}

.services__description2{
  list-style: square;
  text-align: initial;
}

.services__description1{
  list-style: square;
  text-align: initial;
  margin-left: 2em;
  margin-top : 1em;
}

.metiers_prog{
  text-align: initial;
  font-size: 1.2em;
  color : rgb(104, 9, 112);
  margin-left: 3em;
}

.metiers{
  text-align: initial;
  font-size: 1.2em;
  color : rgb(104, 9, 112);
}

.metiers_net{
  text-align: initial;
  font-size: 1.2em;
  color : rgb(104, 9, 112);
}

.services__description3{
  list-style: square;
  text-align: initial;
  margin-left: 4em;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description{
  padding: 0 1.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0px;
  }

  body{
    width: 100%;
    flex-basis : 100%;
  }

  .section{
    justify-content: space-around;
    flex-basis: 100%;
  }

  .home__container{
    margin-top: 10em;
    display: flex;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px){

  .home__img{
    width: 500px;
  }

  .about__container,
  .app__container{
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: max-content;
    }
}

.dark-theme{
  background-color: rgb(47, 47, 47);
  color: rgb(255, 255, 255);
  --background-color: rgb(47, 47, 47);
}