
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

#les_logos{
  display : flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.home__container{
  margin-top : 10em;
  display: flex;
  flex-wrap: wrap;
  justify-items: space-between;
}

main{
  display: flex;
  flex-wrap: wrap;
}

#cours{
  justify-self: start;
  justify-self: left;
}


html{
  scroll-behavior: smooth;
}


main{
  flex-basis: 100%
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  height: auto;
}

.livre{
  margin-left: 2em;
}

.ombre{
  box-shadow: 3px 1px 10px black;
}

.listes_contact{
  list-style: square;
}
.img_iut{
  height: 12.90em;
  width: 20em;
  margin-left : 7em;
}

.img_univ{
  width: 20em;
  margin-right: 7em;
}

.bd-container{
  margin-bottom: 8em;
}

.but{
  margin-left: -80em;
  margin-top: 50em;
  height: 13.1em;
  width: 20em;
}

.brain{
  width: 10%;
  flex-grow: 1;
  max-width: 10%;
  margin-right: 3em;
}

#about{
  display: flex;
  justify-content: center;
}

#source{
  display: flex;
}
/*========== LAYOUT ==========*/


.bd-grid{
  display: grid;
  gap: 1.5rem;
}


/* Active menu */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/*========== HOME ==========*/

.home__title{
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img{
  width: 300px;
  justify-self: center;
}

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .75rem 1rem;
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--first-color-alt);
}


/*========== SERVICES ==========*/
.services__container{
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

}

.services__content{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title{
  margin-bottom: 1em;
}

.home{
  flex-grow: 1;
}

#app{
  height : 10.18em;
  width: 17em;
  margin-bottom: 2em;
  margin-left: -1em;
}

#bd{
  height: 10em;
  width : 20em;
  margin-bottom: 2em;
}

.network{
  height: 13.5em;
  width: 18em;
  margin-left : 1.5em
}

.services__description2{
  list-style: square;
  text-align: initial;
}

.services__description1{
  list-style: square;
  text-align: initial;
  margin-left: 4em;
}

.metiers{
  text-align: initial;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.section-title_1{
  margin-bottom: 0.4em;
}


.services__description3{
  list-style: square;
  text-align: initial;
  margin-left: 4em;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
  margin-bottom : 0.5em;
}

.services__description{
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3,74,40,.15);
  padding: .75rem;
}

.menu__img{
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name, .menu__preci{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name{
  font-size: var(--normal-font-size);
  margin-bottom: 0  .5em;
}


.menu__detail{
  margin-bottom: var(--mb-1);
  font-size: 1.0em;
}

.menu__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0px;
  }

  body{
    flex-basis : 100%;
  }

  .section{
  
    justify-content: space-around;
    flex-basis: 100%;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px){
  .home__img{
    width: 100%;
  }

}

.dark-theme{
  background-color: rgb(47, 47, 47);
  color: rgb(153, 153, 153);
  --background-color: rgb(47, 47, 47);
}